<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Getting Started: Serving Web Content</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="../css/style.css" rel="stylesheet">
	</head>
	
	<body>
	
		<div id=style>
			<form action="/supp2" method="post">	
			
				<select name="eventId" id="eventId">
					<option>Select</option>
					<option th:each = "e : ${Event}" th:value="${e.getId()}" th:text="${e.getName()}"></option>
				</select>
						
				<input type="submit" value="Confirmer la suppression ">
			</form>
			
	
	        
			<br></br>
		    
			<form action="index.html">
	    		<input type="submit" value="Retour" />
			</form>
		</div>
	</body>
	
</html>
